<h1>配送先一覧</h1>
 <li class="d-flex  flex-row col-md-6 gap-1 justify-content-end">
  <%= link_to "新規登録", new_public_address_path, class: "btn btn-outline-secondary text-black", style: "width: 90px;" %>
 </li>