<% if @post.likes.any? %>
  <div class="liked-customers">
    <h3 style="font-weight: bold;">いいねしてくれたユーザー一覧</h3>
      <% @likes.includes(:customer).each do |like| %>
       <h4>ユーザー名：<%= like.customer.name %></h4>
       <% if like.customer.image.attached? %>
        <%= image_tag like.customer.image.variant(resize_to_limit: [300,300]), class: "customer-image" %>
       <% else %>
        <p>画像は未登録です</p>
       <% end %>
      <% end %>
  </div>
<% else %>
  <p>まだ誰もいいねしていません</p>
<% end %>

