<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<h1>Tomoni Farm</h1>
<h2>本サイトは個人農家から発信される農園紹介や栽培過程を見守り、</br>
    愛着を持って購入できる感情体験型の食材予約サイトです。</h2>
<h3>農家紹介</h3>
<h3>商品紹介</h3>