@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Meiryo';
  background-image: url('/images/IMG_9253.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 80px;
}
body.homes.top {
  background-image: url('/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}

.bg-img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.img1 {
  background-image: url('/images/IMG_9249.jpg');
}
.img2 {
  background-image: url('/images/IMG_9250.jpg');
}
.img3 {
  background-image: url('/images/IMG_9248.jpg');
}

.btn-outline-secondary {
  border-radius: 8px;
  font-weight: 500;
  background-color: #a89f91;
  color: white;
}
.btn-outline-secondary:hover {
  background-color: white;
  color: #a89f91;
}
.favicon-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.copyright {
  text-align: center;
  padding: 2rem 0;
  margin-top: 6rem;
  color: black;
}