@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", "Yu Gothic UI", "Hiragino Sans", sans-serif;
  background-color: beige;
}

.bg-img {
  height: 200px;
  background-position: center;
  background-size: cover;
}
.img1 {
  background-image: url('/images/IMG_9248.jpg');
}
.img2 {
  background-image: url('/images/IMG_9250.jpg');
}
.img3 {
  background-image: url('/images/IMG_9249.jpg');
}

.btn {
  border-radius: 8px;
  font-weight: 500;
  background-color: #f8f9fa;
  color: #333;
}