<div class="vh-100">
<h1>登録農家の日記一覧</h1>
 <% @diaries.each do |diary| %>
  <div class="diary-card">
   <% if diary.images.attached? %>
    <% diary.images.each do |image| %>
     <%= image_tag image.variant(resize_to_limit: [300,300]), class: "diary-image" %>
    <% end %>
    <% else %>
     <p>画像は未登録です</p>
    <% end %>
    <h3>タイトル：<%= diary.title %></h3>
    <h3>本文：<%= diary.body %></h3>
   <%= link_to '日記を読む', public_farmer_diary_path(diary.farmer_id, diary), style:"font-size: 24px; font-weight: bold;" %>
  </div>
 <% end %>
</div>
