<header>
<nav class="container-fluid">
 <div class="row">
  <div class="col-12 col-md-10 offset-md-1 d-flex flex-wrap align-items-center">
   <div class="navbar-brand mr-auto">
    <img src="/images/logo2.png" class="favicon-circle" alt="TomoniFarm Logo">
    <%= link_to "TomoniFarm", root_path, class: "text-white", style: "font-size: 24px;" %>
   </div>

    <li class="d-flex justify-content-end">
     <%= link_to "新規登録", new_customer_registration_path, class: "text-white", style: "font-size: 20px; width: 120px;" %>
     <%= link_to "ログイン", new_customer_session_path, class: "text-white ml-2", style: "font-size: 20px; width: 120px;" %>
    </li>
  </div>
 </div>
</nav>
</header>